.ui-dialog {

    .ui-dialog-titlebar {
        background: transparent;
        border: 0;
    }

    .ui-dialog-titlebar-close {
        &.ui-state-hover {
            background: transparent;
            border: 0;
        }
    }
}